.service-info {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
  text-align: center;
  flex-wrap: wrap;
}

.service-box {
  width: 280px;
  margin-bottom: 15px;
}

.service-info img{
  height: 60px;
  margin-bottom: 20px;
}
