.reset-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
}
.card2{
  background: #F5F5F5;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  text-align: center;
}
.container-input2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input1,.input2{
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.btn2{
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 1px;
    border: none;
    border-radius: 5px;
    background-color: #db4444;
    color: white;
}