.today{
    display:flex;
    margin-top:60px;
    
}
.today::before {
    content: "";
    border: 2px solid red;
    display: inline-block; 
    width: 7px;  
    height: 30px; 
    background-color:red;
    border-radius:3px;
    margin-right:10px;
   

}
.today h3{
    color:#000000;
}
.containerr{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:85%;
    margin:auto;
}
.containerr .Flash{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
    margin-bottom:40px;
    

}
.containerr .Flash .left,.right{
    width:24px;
    height:24px;
    border-radius:50%;
    background-color:#F5F5F5;
    margin-left:20px;
    color:#000000;
    font-size:10px;

}
.card-img{
    background-color:#F5F5F5;
    width:270px;
    height:250px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    
    
}
.card-btn{
   position:absolute;
   bottom:0;
   width:100%;
   height:28px;
   background-color:#000000;
   color:#fff;
   border:none;
   opacity:0;
   transition:1s ease;
}
.card-img:hover .card-btn{
    opacity:1;
    background-color:
    color:#000000c0;


}
.eye-icon{
position:absolute;
right:10px;
top:50px;
font-size:20px;
}
.heart-icon{
    position:absolute;
    top:10px;
    right:10px;
    font-size:20px;
    color:#DB4444;

}
.heart-icon:hover{
    color:red;
}
.discount{
    position:absolute;
    left:10px;
    top:10px;
    width:50px;
    background-color:#DB4444;
    color:#fff;
    border-radius:5px;

}
.price1{
    color:#DB4444;
}
.price2{
    color:gray;
    text-decoration:line-through;
    font-size:12px;
    margin-left:10px;
}
.cards{
    position:relative;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;    
    gap: 20px;          
    justify-content: center;
}
.cards h3{
    font-size:16px;
    font-weight:500;
    margin-top:10px
}
.img-details{
    display:flex;
    flex-direction:column;
    gap:9px;
}
.card1:hover {
    transform: translateY(-5px); 
}
.card1{
    transition: transform 0.3s;
}

.all-product{
    
     margin:auto;
}
.all-product button{
    width:200px;
    height:40px;
    background-color:#DB4444;
    border:none;
    color:#fff;
    font-size:15px;
    margin-top:100px;
   
}
